%p#notice= notice

%p
  %b Body:
  = @notification.body
%p
  %b Trigger at:
  = @notification.trigger_at

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
