%fieldset
  = form.label :email
  = form.email_field :email

%fieldset
  = form.label :name
  = form.text_field :name

%fieldset
  = form.label :password
  = form.password_field :password

%fieldset
  = form.label :business
  = form.select :business, %w[medical dental aesthetic]

= form.submit
