%table.mini-calendar
  %thead
    %tr
      %th
        %abbr(title='Domingo') D
      %th
        %abbr(title='Segunda-feira') S
      %th
        %abbr(title='Terça-feira') T
      %th
        %abbr(title='Quarta-feira') Q
      %th
        %abbr(title='Quinta-feira') Q
      %th
        %abbr(title='Sexta-feira') S
      %th
        %abbr(title='Sábado') S
  %tbody
    %tr
      %td
        = link_to "#" do
          %time(title="01/02/15") 1
      %td
        = link_to "#" do
          %time(title="01/02/15") 2
      %td
        = link_to "#" do
          %time(title="01/02/15") 3
      %td
        = link_to "#" do
          %time(title="01/02/15") 4
      %td
        = link_to "#" do
          %time(title="01/02/15") 5
      %td
        = link_to "#" do
          %time(title="01/02/15") 6
      %td
        = link_to "#" do
          %time(title="01/02/15") 7
    %tr
      %td
        = link_to "#" do
          %time(title="01/02/15") 8
      %td 
        = link_to "#" do
          %time(title="01/02/15") 9
      %td
        = link_to "#" do
          %time(title="01/02/15") 10
      %td
        = link_to "#" do
          %time(title="01/02/15") 11
      %td
        = link_to "#" do
          %time(title="01/02/15") 12
      %td
        = link_to "#" do
          %time(title="01/02/15") 13
      %td
        = link_to "#" do
          %time(title="01/02/15") 14
    %tr
      %td
        = link_to "#" do
          %time(title="01/02/15") 15
      %td
        = link_to "#" do
          %time(title="01/02/15") 16
      %td
        = link_to "#" do
          %time(title="01/02/15") 17
      %td.today
        = link_to "#" do
          %time(title="01/02/15") 18
      %td
        = link_to "#" do
          %time(title="01/02/15") 19
      %td
        = link_to "#" do
          %time(title="01/02/15") 20
      %td
        = link_to "#" do
          %time(title="01/02/15") 21
    %tr
      %td
        = link_to "#" do
          %time(title="01/02/15") 22
      %td
        = link_to "#" do
          %time(title="01/02/15") 23
      %td
        = link_to "#" do
          %time(title="01/02/15") 24
      %td
        = link_to "#" do
          %time(title="01/02/15") 25
      %td
        = link_to "#" do
          %time(title="01/02/15") 26
      %td
        = link_to "#" do
          %time(title="01/02/15") 27
      %td
        = link_to "#" do
          %time(title="01/02/15") 28
    %tr
      %td
        = link_to "#" do
          %time(title="01/02/15") 29
      %td
        = link_to "#" do
          %time(title="01/02/15") 30
      %td
        = link_to "#" do
          %time(title="01/02/15") 31
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 1
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 2
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 3
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 4
    %tr
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 5
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 6
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 7
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 8
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 9
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 10
      %td.next-month-day
        = link_to "#" do
          %time(title="01/02/15") 11
