= link_to 'Marcar consulta', [:new, :appointment]

%table.day-view
  - 24.times do |hour|
    %tr.day-hour
      %td
        = hour

      %td
        %ul
          - @appointments.each do |appointment|
            - next unless appointment.begin_at.hour == hour
            %li
              = appointment.begin_at
              = appointment.name

%ul.week-days
  %li= link_to 'Hoje', '#'
  - @week.each do |date, total|
    %li
      = link_to day_path(date.year, date.month, date.day) do
        %time= date
        %span.appointment-count= total
