= form_for @appointment do |f|
  %div.row
    %div.col-md-6
      - if @appointment.errors.any?
        #error_explanation
          %ul
            - @appointment.errors.full_messages.each do |msg|
              %li= msg

  %div.row
    %div.col-md-3
      %img(src='http://bootstrap-datepicker.readthedocs.org/en/latest/_images/markup_inline.png')

    %div.col-md-6
      %div.form-group
        = f.label :name
        = f.text_field :name
      %div.form-group
        = f.label :area
        = f.text_field :area
      %div.form-group
        = f.label :phone
        = f.text_field :phone

      %div.form-group
        = f.label :begin_at
        = f.time_select :begin_at, minute_step: 15

  %div.row
    %div.form-group
      %div.col-md-1.col-md-offset-2
        = f.submit 'Cancelar'
      %div.col-md-1
        = f.submit 'Adicionar'
