= form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :area
    = f.text_field :area
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :begin_at
    = f.date_select :begin_at
    = f.time_select :begin_at, minute_step: 15
  .actions
    = f.submit 'Save'
