= form_for @appointment do |f|
  = f.hidden_field :begin_at

  - if @appointment.errors.any?
    %div.col-md-6.col-md-offset-3
      %div.panel.panel-danger
        %div.panel-heading
          %div.panel-title
            Compromisso não pode ser criado
        %div.panel-body
          %ul
            - @appointment.errors.full_messages.each do |message|
              %li= message

  %div.row
    %div.col-md-5.col-md-offset-3
      #calendar
  %div.row
    %div.form-group.form-group-lg
      %div.col-md-5.col-md-offset-3
        = f.label :name
        = f.text_field :name, class: 'form-control'
  %div.row
    %div.form-group.form-group-lg
      %div.col-md-1.col-md-offset-3
        = f.label :area
        = f.text_field :area, class: 'form-control'
      %div.col-md-2
        = f.label :phone
        = f.text_field :phone, class: 'form-control'

  %div.row
    %div.form-group.from-group-lg
      %div.col-md-5.col-md-offset-3
        %button.btn.btn-lg.btn-primary.btn-block Salvar
        %a.btn.btn-lg.btn-default.btn-block(href=today_path) Cancelar

:coffee
  hermes.appointment()
