%div.container
  %div.col-md-3
    %div.row.form-group
      %a.btn.btn-primary.btn-lg.btn-block(href="#{new_appointment_path(at: time.to_date)}")
        %i.glyphicon.glyphicon-plus
        %span Adicionar compromisso

    %div.well.row
      %input#calendar(type='hidden')

    %div.row
      %div.panel.panel-default
        %div.panel-heading
          Próximos compromissos
        %div.list-group
          - @upcoming.each do |day, total|
            = link_to [:date, to_date(day)], class: 'list-group-item' do
              - if day.today?
                = 'Hoje'
              - else
                = l(day.to_date, format: '%A')

              - unless total.zero?
                %span.badge= total

  %div.col-md-9
    - if flash.notice
      %div.alert.alert-success(role='alert')
        %span.glyphicon.glyphicon-saved(aria-hidden='true')
        = flash.notice

    %ul.list-group
      - @appointments.each do |appointment|
        %li.list-group-item(class="#{status_stylesheet(appointment)}")
          %strong= l(appointment.begin_at, format: '%H:%M')
          %big.name= appointment.name

          %ol.actions.list-inline.pull-right
            %div.btn-group
              = link_to 'Editar', [:edit, appointment], class: %[btn btn-default]
              %button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                %span.caret

              %ul.dropdown-menu
                %li= link_to 'Confirmar', [:status, appointment, new: 'confirmed']
                %li= link_to 'Desmarcar', [:status, appointment, new: 'canceled']
                %li= link_to 'Aguardar', [:status, appointment, new: 'waiting']
                %li.divider
                %li= link_to 'Limpar', [:status, appointment, new: 'none']

:coffee
  hermes.appointments("#{l(time, format: '%Y/%m/%d')}")
