%div.container
  %div.col-md-3
    %div.row.form-group
      %a.btn.btn-primary.btn-lg.btn-block(href=new_appointment_path)
        %i.glyphicon.glyphicon-plus
        %span Adicionar compromisso

    %div.well.row
      %input#calendar(type='hidden')

  %div.col-md-9
    - if flash.notice
      %div.alert.alert-success(role='alert')
        %span.glyphicon.glyphicon-saved(aria-hidden='true')
        = flash.notice

    %ul.list-group
      - @appointments.each do |appointment|
        %li.list-group-item
          %strong= l(appointment.begin_at, format: '%H:%M')
          %big.name= appointment.name

          %ol.actions.list-inline.pull-right
            %div.btn-group
              = link_to 'Editar', [:edit, appointment], class: %[btn btn-default]
              %button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                %span.caret

              %ul.dropdown-menu
                %li
                  %a(href='#') Aguardando
                %li
                  %a(href='#') Confirmado
                %li
                  %a(href='#') Desmarcado

:coffee
  hermes.appointments("#{l(time, format: '%Y/%m/%d')}")
