%div.container
  %div.col-md-3
    %div.row.form-group
      %a.btn.btn-primary.btn-lg.btn-block(href=new_appointment_path)
        %i.glyphicon.glyphicon-plus
        %span Adicionar compromisso

    %div.well.row
      %input#calendar(type='hidden')

  %div.col-md-9
    - if flash.notice
      %div.alert.alert-success(role='alert')
        %span.glyphicon.glyphicon-saved(aria-hidden='true')
        = flash.notice

    %table
      - @appointments.each do |appointment|
        %li.list-group-item
          %h1= l(appointment.begin_at, format: '%H:%M')
          = appointment.name
          = "#{appointment.area}-#{appointment.phone}"

          %ol.list-inline.pull-right
            %li.btn-group
              %button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                %span.glyphicon.glyphicon-time
                Aguardando
                %span.caret

              %ul.dropdown-menu
                %li
                  %a(href='#') Confirmar
                %li
                  %a(href='#') Desmarcar

            %li
              = link_to [:edit, appointment],
                class: %w[btn btn-primary] do
                %span.glyphicon.glyphicon-pencil
                Editar

            %li
              %button.btn.btn-danger
                %span.glyphicon.glyphicon-trash
                Deletar

:coffee
  hermes.appointments("#{l(time, format: '%Y/%m/%d')}")
